/* font-family: "ADLaM Display", serif; */
/* font-family: "Sora", serif; */
.sora-font{
    font-family: "Sora", serif;
}
body{
    font-family: "Sora", serif;
}
body h1, h2, h3, h4, h5, h6{
    font-family: "ADLaM Display", serif;
}
.hide{
    display: none;
}
/* Common Css Style */
body a, button{
    outline: none !important;
}
body a:hover{
    transition: 0.5s;
}